/* Generert av @fristil/designsystem. Rediger oppskriften, ikke denne fila. */

@layer fristil, fristil-tema;

@layer fristil-tema {
  :root {
    --fs-font-family-base: Helvetica, Arial, sans-serif;
    --fs-font-weight-regular: 400;
    --fs-font-weight-medium: 500;
    --fs-font-weight-semibold: 600;
    --fs-font-weight-bold: 700;
    --fs-line-height-default: 1.666;
    --fs-line-height-heading: 1.333;
    --fs-line-height-article: 1.666;
    --fs-button-radius: 2.75rem;
    --fs-pagination-radius: 2.75rem;
    --fs-skip-link-radius: 2.75rem;
    --fs-input-radius: 0.25rem;
    --fs-select-radius: 0.25rem;
    --fs-textarea-radius: 0.25rem;
    --fs-card-radius: 0.25rem;
    --fs-dialog-radius: 0.25rem;
    --fs-popover-radius: 0.25rem;
    --fs-alert-radius: 0.25rem;
    --fs-accordion-radius: 0.25rem;
    --fs-error-summary-radius: 0.25rem;
    --fs-file-upload-radius: 0.25rem;
    --fs-session-timeout-radius: 0.25rem;
    --fs-suggestion-radius: 0.25rem;
    --fs-toast-radius: 0.25rem;
    --fs-tooltip-radius: 0.25rem;
    --fs-button-border-width: 3px;
    --fs-button-font-weight: 700;
  }

  :root {
    font-family: var(--fs-font-family-base);
  }
}
